{% load staticfiles %}

<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"><!--<![endif]--><!-- BEGIN HEAD --><head>
<meta charset="utf-8">
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta content="" name="description">
<meta content="" name="author">


<link href="{% static "css/css.css"%}" rel="stylesheet" type="text/css">
<link href="{% static "css/font-awesome.css"%}" rel="stylesheet" type="text/css">
<link href="{% static "css/simple-line-icons.css"%}" rel="stylesheet" type="text/css">
<link href="{% static "css/bootstrap.css"%}"  rel="stylesheet" type="text/css">
<link href="{% static "css/uniform.css"%}"   rel="stylesheet" type="text/css">
<link href="{% static "css/bootstrap-switch.css"%}"  rel="stylesheet" type="text/css">

<link href="{% static "css/components_2.css"%}"  id="style_components" rel="stylesheet" type="text/css">
<link href="{% static "css/plugins.css"%}"   rel="stylesheet" type="text/css">
<link href="{% static "css/layout.css"%}"   rel="stylesheet" type="text/css">
<link id="style_color" href="{% static "css/darkblue.css"%}"  rel="stylesheet" type="text/css">
<link  href="{% static "css/custom.css"%}"  rel="stylesheet" type="text/css">

	<script type="text/javascript" src="{% static "js/plotly-latest.min.js"%}"></script>

	<script type="text/javascript" src="{% static "js/jquery.js"%}"></script>
	<script type="text/javascript" src="{% static "js/bootstrap.js"%}"></script>
	<script type="text/javascript" src="{% static "js/blockui.js"%}"></script>

	
	<script type="text/javascript" src="{% static "js/select2.js"%}"></script>

</head>

<body class="page-full-width">



<!-- BEGIN CONTAINER -->
<div class="page-container">
	<!-- BEGIN SIDEBAR -->
	
	<!-- END SIDEBAR -->
	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		
		<div  class="page-content">
			
			<h1 class="page-title">
			Monitoraggio televisori disponibili su portali B2C - C2C 
			</h1>
			<h4> Chiave di ricerca:<b>
				{% if keyword %}
					{{ keyword }}
				{% endif %}
				{% if shop %}
					{{ shop}}
				{% endif %}
				{% if chiave_data %}
					{{ chiave_data}}
				{% endif %}
			</b></h4>
			<hr>

			
			
			<div class="row">
			<div class="col-lg-3">
		
			
		<table style="border: 1px solid black;">
		<tr style="padding-top: 12px;
		    padding-bottom: 12px;
		    text-align: left;
		    background-color: #2b3643;
		    color:white;
		    border: 1px solid #white;
		    ">
		<th>date</th>
		
		<th>shop</th>
		
		<th>keyword</th>
		<th>number</th>
		</tr>
		{% for i in raw_data|dictsortreversed:0  %}
			<tr>	  
			  
			  <td style="border: 1px solid #ddd;padding: 8px;">{{ i.1|date:"M d, Y"}}</td>
			  <td style="border: 1px solid #ddd;padding: 8px;">{{ i.4}}</td>
			  <td style="border: 1px solid #ddd;padding: 8px;">{{ i.2}}</td>
			  <td style="border: 1px solid #ddd;padding: 8px;">{{ i.3}} </td>
			</tr>
		{% endfor %}
		</table>


		</div>
				<div class="col-lg-4">
					<h3>Categorie</h3>

			<table>
				<tr>
					<td style="vertical-align: top;padding-right: 22px;">
						<p style="font-weight:bold;padding-left:25px;">Negozio</p>
			
				<ul>
			{% for i in negozi %}
			  <li style="font-size: 14px;"><a href="/?shop={{ i }}  ">{{ i }}  </a></li>
			{% endfor %}
			</ul>
			</td>
			<td style="vertical-align: top;">
				<p style="font-weight:bold;padding-left:25px;">Parola chiave</p>
				<ul>
				{% for i in keywords %}
			  <li style="font-size: 14px;"><a href="/?keyword={{ i }}  ">{{ i }}  </a></li>
			{% endfor %}
			</ul>
			</td>
			<td style="vertical-align: top;padding-right: 22px;">
						<p style="font-weight:bold;padding-left:25px;">Data</p>
			
				<ul>
			{% for i in date %}
			  <li style="font-size: 14px;"><a href="/?date={{ i }}  ">{{ i }}  </a></li>
			{% endfor %}
			</ul>
			</td>
			</tr>
			</h4>
		</table>

					{% if dataviz %}
					


					<div  id="myDiv">  </div>
					{% endif %}
				</div>
		</div>

			</div>


			


			</div>
			</div></div>

	
	
	</div>

</div>




</body>
<script>
  var dvb_t = {
  x: {{lista_giorno_dvb_t}},
  y: {{lista_number_dvb_t}},
  name: "dvb-t",
  type: 'bar'
};

var dvb_t2 = {
  x: {{lista_giorno_dvb_t}},
  y: {{lista_number_dvb_t2}},
  name: 'dvb-t2',
  type: 'bar'
};

var dvb_t2_hevc = {
  x: {{lista_giorno_dvb_t}},
  y: {{lista_number_dvb_t2_hevc}},
  name: 'dvb-t2-hevc',
  type: 'bar'
};

var hevc = {
  x: {{lista_giorno_dvb_t}},
  y: {{lista_number_hevc}},
  name: 'hevc',
  type: 'bar'
};



var data = [dvb_t,dvb_t2,hevc,dvb_t2_hevc];

var layout = {barmode: 'stack',};

Plotly.newPlot('myDiv', data, layout);
</script>


</html>