{% load staticfiles %}

<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"><!--<![endif]--><!-- BEGIN HEAD --><head>
<meta charset="utf-8">
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta content="" name="description">
<meta content="" name="author">


<link href="{% static "css/css.css"%}" rel="stylesheet" type="text/css">
<link href="{% static "css/font-awesome.css"%}" rel="stylesheet" type="text/css">
<link href="{% static "css/simple-line-icons.css"%}" rel="stylesheet" type="text/css">
<link href="{% static "css/bootstrap.css"%}"  rel="stylesheet" type="text/css">
<link href="{% static "css/uniform.css"%}"   rel="stylesheet" type="text/css">
<link href="{% static "css/bootstrap-switch.css"%}"  rel="stylesheet" type="text/css">

<link href="{% static "css/components_2.css"%}"  id="style_components" rel="stylesheet" type="text/css">
<link href="{% static "css/plugins.css"%}"   rel="stylesheet" type="text/css">
<link href="{% static "css/layout.css"%}"   rel="stylesheet" type="text/css">
<link id="style_color" href="{% static "css/darkblue.css"%}"  rel="stylesheet" type="text/css">
<link  href="{% static "css/custom.css"%}"  rel="stylesheet" type="text/css">

	<script type="text/javascript" src="{% static "js/plotly-latest.min.js"%}"></script>

	<script type="text/javascript" src="{% static "js/jquery.js"%}"></script>
	<script type="text/javascript" src="{% static "js/bootstrap.js"%}"></script>
	<script type="text/javascript" src="{% static "js/blockui.js"%}"></script>

	
	<script type="text/javascript" src="{% static "js/select2.js"%}"></script>

</head>

<body class="page-full-width">



<!-- BEGIN CONTAINER -->
<div class="page-container">
	<!-- BEGIN SIDEBAR -->
	
	<!-- END SIDEBAR -->
	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		<div  class="page-content">
			
			<h2 class="page-title">
			Monitoraggio vendita televisori nel mercato web italiano
			</h2>
			<hr>
			<h3>Ricerca per</h3>

			<table>
				<tr>
					<td style="vertical-align: top;padding-right: 22px;">
						<p style="font-weight:bold;padding-left:25px;">Negozio</p>
			
				<ul>
			{% for i in negozi %}
			  <li style="font-size: 14px;"><a href="/?shop={{ i }}  ">{{ i }}  </a></li>
			{% endfor %}
			</ul>
			</td>
			<td style="vertical-align: top;">
				<p style="font-weight:bold;padding-left:25px;">Marchio</p>
				<ul>
				{% for i in keyword %}
			  <li style="font-size: 14px;"><a href="/?keyword={{ i }}  ">{{ i }}  </a></li>
			{% endfor %}
			</ul>
			</td>
			<td style="vertical-align: top;padding-right: 22px;">
						<p style="font-weight:bold;padding-left:25px;">Data</p>
			
				<ul>
			{% for i in date %}
			  <li style="font-size: 14px;"><a href="/?date={{ i }}  ">{{ i }}  </a></li>
			{% endfor %}
			</ul>
			</td>
			</tr>
			</h4>
		</table>
		
		
			<h3> Risultati:</h3>
		<table style="border: 1px solid black;">
		<tr style="padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2b3643;
    color:white;
    border: 1px solid #white;
    ">
		<th>date</th>
		
		<th>shop</th>
		
		<th>keyword</th>
		<th>number</th>
		</tr>
		{% for i in raw_data %}
			<tr>	  
			  
			  <td style="border: 1px solid #ddd;padding: 8px;">{{ i.1|date:"M d, Y"}}</td>
			  <td style="border: 1px solid #ddd;padding: 8px;">{{ i.4}}</td>
			  <td style="border: 1px solid #ddd;padding: 8px;">{{ i.2}}</td>
			  <td style="border: 1px solid #ddd;padding: 8px;">{{ i.3}} </td>
			</tr>
		{% endfor %}
		</table>


		</div>


					
				</div>
			</div></div>

	
	
	</div>

</div>



</body></html>